n8n/workflows/budget_tracker_ai_agent.json
{
  "name": "budget_tracker_ai_agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "budget_tracker",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ab62d3bf-1d53-4ea8-821a-067c01c8a1a2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -496,
        208
      ],
      "webhookId": "budget_tracker"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst esc = (value) => String(value ?? \"\").trim().replace(/'/g, \"''\");\nconst action = String(payload.action ?? \"\").trim().toLowerCase();\nconst allowed = [\"login\", \"create_board\", \"join_board\", \"add_item\", \"analyze_item\", \"get_board\"];\n\nif (!allowed.includes(action)) {\n  return [{ json: { action: \"invalid\", error: \"Unsupported action\" } }];\n}\n\nconst incomingCode = String(payload.board_code ?? \"\").trim().toUpperCase();\nconst generatedCode = \"BD\" + Math.random().toString(36).slice(2, 8).toUpperCase();\nconst boardCode = incomingCode || generatedCode;\n\nreturn [{\n  json: {\n    action,\n    username: String(payload.username ?? \"\").trim(),\n    pin: String(payload.pin ?? \"\").trim(),\n    board_name: String(payload.board_name ?? \"Shared List\").trim(),\n    board_code: boardCode,\n    item_id: Number(payload.item_id ?? 0),\n    item_name: String(payload.item_name ?? \"\").trim(),\n    target_price: Number(payload.target_price ?? 0),\n    start_date: String(payload.start_date ?? \"\"),\n    end_date: String(payload.end_date ?? \"\"),\n    username_sql: esc(payload.username),\n    pin_sql: esc(payload.pin),\n    board_name_sql: esc(payload.board_name ?? \"Shared List\"),\n    board_code_sql: esc(boardCode),\n    item_name_sql: esc(payload.item_name),\n  }\n}];"
      },
      "id": "e6bfb762-9632-409c-9733-4a4485840edb",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted_user AS (\n  INSERT INTO users (username, pin_hash)\n  VALUES ('{{$json.username_sql}}', crypt('{{$json.pin_sql}}', gen_salt('bf')))\n  ON CONFLICT (username) DO NOTHING\n  RETURNING id\n), actor AS (\n  SELECT id FROM inserted_user\n  UNION\n  SELECT id FROM users\n  WHERE username = '{{$json.username_sql}}'\n    AND pin_hash = crypt('{{$json.pin_sql}}', pin_hash)\n  LIMIT 1\n), new_board AS (\n  INSERT INTO boards (board_code, name, created_by)\n  SELECT '{{$json.board_code_sql}}', COALESCE(NULLIF('{{$json.board_name_sql}}', ''), 'Shared List'), id\n  FROM actor\n  RETURNING id, board_code, name\n), owner AS (\n  INSERT INTO board_members (board_id, user_id, role)\n  SELECT b.id, a.id, 'owner'\n  FROM new_board b\n  CROSS JOIN actor a\n  ON CONFLICT (board_id, user_id) DO NOTHING\n)\nSELECT CASE\n  WHEN EXISTS (SELECT 1 FROM new_board)\n  THEN json_build_object(\n    'ok', true,\n    'message', 'Board created.',\n    'board', (SELECT row_to_json(b) FROM new_board b),\n    'items', '[]'::json\n  )\n  ELSE json_build_object('ok', false, 'error', 'Could not create board. Username/PIN may be invalid.')\nEND AS response;",
        "options": {}
      },
      "id": "83e09197-df42-4dd1-a506-a8e92b6af4eb",
      "name": "PG Create Board",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        224,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "eiDo9LSBl0FkL13Y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH actor AS (\n  SELECT id\n  FROM users\n  WHERE username = '{{$json.username_sql}}'\n    AND pin_hash = crypt('{{$json.pin_sql}}', pin_hash)\n  LIMIT 1\n), board_row AS (\n  SELECT id, board_code, name\n  FROM boards\n  WHERE board_code = '{{$json.board_code_sql}}'\n  LIMIT 1\n), joined AS (\n  INSERT INTO board_members (board_id, user_id, role)\n  SELECT b.id, a.id, 'member'\n  FROM board_row b\n  CROSS JOIN actor a\n  ON CONFLICT (board_id, user_id) DO NOTHING\n), items_data AS (\n  SELECT\n    i.id,\n    i.item_name,\n    i.target_price,\n    i.market_price,\n    i.savings_daily,\n    i.savings_weekly,\n    i.start_date,\n    i.end_date,\n    i.alternatives,\n    i.analysis_summary,\n    i.analysis_recommendation,\n    u.username AS added_by,\n    i.created_at\n  FROM items i\n  JOIN board_row br ON br.id = i.board_id\n  JOIN users u ON u.id = i.added_by\n  ORDER BY i.created_at DESC\n)\nSELECT CASE\n  WHEN EXISTS (SELECT 1 FROM actor) AND EXISTS (SELECT 1 FROM board_row)\n  THEN json_build_object(\n    'ok', true,\n    'message', 'Joined board.',\n    'board', (SELECT row_to_json(b) FROM board_row b),\n    'items', COALESCE((SELECT json_agg(row_to_json(i)) FROM items_data i), '[]'::json)\n  )\n  ELSE json_build_object('ok', false, 'error', 'Invalid username/PIN or board code.')\nEND AS response;",
        "options": {}
      },
      "id": "189b0d5e-138f-4616-9aeb-b092f4a5edcf",
      "name": "PG Join Board",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        224,
        144
      ],
      "credentials": {
        "postgres": {
          "id": "eiDo9LSBl0FkL13Y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{$env.SERPER_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.item_name}} price Philippines"
            },
            {
              "name": "gl",
              "value": "ph"
            },
            {
              "name": "hl",
              "value": "en"
            }
          ]
        },
        "options": {}
      },
      "id": "7e87328a-cb0b-477e-892a-7eabadfd5fe4",
      "name": "Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        176,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $(\"Normalize Input\").first().json;\nconst target = Number(input.target_price ?? 0);\n\nlet marketPrice = Number.isFinite(target) ? Number((target * 1.05).toFixed(2)) : 0;\nlet alternatives = [\n  { name: (\"Used \" + String(input.item_name ?? \"\")).trim(), estimated_price: Number((marketPrice * 0.7).toFixed(2)) },\n  { name: (\"Budget alternative to \" + String(input.item_name ?? \"\")).trim(), estimated_price: Number((marketPrice * 0.8).toFixed(2)) },\n  { name: (String(input.item_name ?? \"\") + \" previous model\").trim(), estimated_price: Number((marketPrice * 0.85).toFixed(2)) },\n];\nlet summary = \"\";\nlet recommendation = \"\";\n\nconst rawText = $json?.candidates?.[0]?.content?.parts?.[0]?.text ?? $json?.output ?? $json?.response ?? $json?.text ?? (typeof $json === \"string\" ? $json : \"\");\nif (typeof rawText === \"string\" && rawText.trim()) {\n  const cleaned = rawText.replace(/```json|```/g, \"\").trim();\n  const maybeJson = cleaned.match(/{[sS]*}/)?.[0] ?? cleaned;\n\n  try {\n    const aiData = JSON.parse(maybeJson);\n\n    if (Number.isFinite(Number(aiData?.market_price))) {\n      marketPrice = Number(aiData.market_price);\n    }\n\n    if (Array.isArray(aiData?.alternatives) && aiData.alternatives.length) {\n      alternatives = aiData.alternatives.slice(0, 3).map((alt) => ({\n        name: String(alt?.name ?? \"Alternative option\").trim(),\n        estimated_price: Number.isFinite(Number(alt?.estimated_price)) ? Number(alt.estimated_price) : null,\n      }));\n    }\n\n    if (typeof aiData?.summary === \"string\") {\n      summary = aiData.summary.trim();\n    }\n\n    if (typeof aiData?.recommendation === \"string\") {\n      recommendation = aiData.recommendation.trim();\n    }\n  } catch {\n    // Keep fallback values\n  }\n}\n\nconst start = new Date(input.start_date);\nconst end = new Date(input.end_date);\nconst diffMs = end.getTime() - start.getTime();\nconst days = Number.isFinite(diffMs) && diffMs > 0 ? Math.ceil(diffMs / 86400000) : 1;\nconst savingsDaily = Number((target / days).toFixed(2));\nconst savingsWeekly = Number((savingsDaily * 7).toFixed(2));\n\nreturn [{\n  json: {\n    ...input,\n    market_price: Number(marketPrice.toFixed(2)),\n    alternatives,\n    alternatives_sql: JSON.stringify(alternatives).replace(/'/g, \"''\"),\n    analysis_summary: summary || null,\n    analysis_recommendation: recommendation || null,\n    analysis_summary_sql: summary.replace(/'/g, \"''\"),\n    analysis_recommendation_sql: recommendation.replace(/'/g, \"''\"),\n    savings_daily: savingsDaily,\n    savings_weekly: savingsWeekly,\n  }\n}];"
      },
      "id": "bfca2251-c12d-4996-bd04-c86d7401a8ab",
      "name": "Merge & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        656
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH actor AS (\n  SELECT id\n  FROM users\n  WHERE username = '{{$json.username_sql}}'\n    AND pin_hash = crypt('{{$json.pin_sql}}', pin_hash)\n  LIMIT 1\n), board_row AS (\n  SELECT b.id, b.board_code\n  FROM boards b\n  JOIN board_members bm ON bm.board_id = b.id\n  JOIN actor a ON a.id = bm.user_id\n  WHERE b.board_code = '{{$json.board_code_sql}}'\n  LIMIT 1\n), inserted AS (\n  INSERT INTO items (\n    board_id, item_name, target_price, market_price,\n    savings_daily, savings_weekly, start_date, end_date,\n    alternatives, analysis_summary, analysis_recommendation, added_by\n  )\n  SELECT\n    br.id,\n    '{{$json.item_name_sql}}',\n    {{$json.target_price}},\n    {{$json.market_price}},\n    {{$json.savings_daily}},\n    {{$json.savings_weekly}},\n    NULLIF('{{$json.start_date}}', '')::date,\n    NULLIF('{{$json.end_date}}', '')::date,\n    '{{$json.alternatives_sql}}'::jsonb,\n    NULLIF('{{$json.analysis_summary_sql}}', ''),\n    NULLIF('{{$json.analysis_recommendation_sql}}', ''),\n    a.id\n  FROM board_row br\n  CROSS JOIN actor a\n  WHERE {{$json.target_price}} > 0\n  RETURNING id\n)\nSELECT CASE\n  WHEN EXISTS (SELECT 1 FROM inserted)\n  THEN json_build_object('ok', true, 'message', 'Item added with AI analysis.')\n  ELSE json_build_object('ok', false, 'error', 'Could not add item. Ensure price is > 0.')\nEND AS response;",
        "options": {}
      },
      "id": "dd48133b-62ba-42dc-a791-541e7f14dc7a",
      "name": "PG Add Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        256,
        320
      ],
      "credentials": {
        "postgres": {
          "id": "eiDo9LSBl0FkL13Y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH actor AS (\n  SELECT id\n  FROM users\n  WHERE username = '{{$json.username_sql}}'\n    AND pin_hash = crypt('{{$json.pin_sql}}', pin_hash)\n  LIMIT 1\n), board_row AS (\n  SELECT b.id, b.board_code, b.name\n  FROM boards b\n  JOIN board_members bm ON bm.board_id = b.id\n  JOIN actor a ON a.id = bm.user_id\n  WHERE b.board_code = '{{$json.board_code_sql}}'\n  LIMIT 1\n), items_data AS (\n  SELECT\n    i.id,\n    i.item_name,\n    i.target_price,\n    i.market_price,\n    i.savings_daily,\n    i.savings_weekly,\n    i.start_date,\n    i.end_date,\n    i.alternatives,\n    i.analysis_summary,\n    i.analysis_recommendation,\n    u.username AS added_by,\n    i.created_at\n  FROM items i\n  JOIN board_row br ON br.id = i.board_id\n  JOIN users u ON u.id = i.added_by\n  ORDER BY i.created_at DESC\n)\nSELECT CASE\n  WHEN EXISTS (SELECT 1 FROM board_row)\n  THEN json_build_object(\n    'ok', true,\n    'message', 'Board refreshed.',\n    'board', (SELECT row_to_json(b) FROM board_row b),\n    'items', COALESCE((SELECT json_agg(row_to_json(i)) FROM items_data i), '[]'::json)\n  )\n  ELSE json_build_object('ok', false, 'error', 'Invalid credentials.')\nEND AS response;",
        "options": {}
      },
      "id": "086a2dfe-1009-41af-9aed-d4287febad98",
      "name": "PG Get Board",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        240,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "eiDo9LSBl0FkL13Y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "7c16a955-7eec-4425-9cad-5172fd6def31",
      "name": "Respond Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1008,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.response ?? $json;\nlet payload = raw;\n\nif (typeof payload === \"string\") {\n  try {\n    payload = JSON.parse(payload);\n  } catch {\n    payload = { ok: false, error: \"Invalid response payload\", details: String(raw) };\n  }\n}\n\nif (payload && typeof payload === \"object\" && Object.prototype.hasOwnProperty.call(payload, \"response\")) {\n  const nested = payload.response;\n  if (typeof nested === \"string\") {\n    try {\n      payload = JSON.parse(nested);\n    } catch {\n      payload = { ok: false, error: \"Invalid nested response payload\", details: nested };\n    }\n  } else {\n    payload = nested;\n  }\n}\n\nif (payload?.ok && payload.board && !payload.board.board_code) {\n  const fallbackCode = $(\"Normalize Input\").first().json.board_code;\n  if (fallbackCode) {\n    payload.board = { ...payload.board, board_code: fallbackCode };\n  }\n}\n\nif (payload?.ok && !Array.isArray(payload.items)) {\n  payload.items = [];\n}\n\nreturn [{ json: payload }];"
      },
      "id": "316c5b88-81c1-4edf-b63f-b6a9ed90005a",
      "name": "Format Common",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n  INSERT INTO users (username, pin_hash)\n  VALUES ('{{$json.username_sql}}', crypt('{{$json.pin_sql}}', gen_salt('bf')))\n  ON CONFLICT (username) DO NOTHING\n  RETURNING id\n), matched AS (\n  SELECT id\n  FROM users\n  WHERE username = '{{$json.username_sql}}'\n    AND pin_hash = crypt('{{$json.pin_sql}}', pin_hash)\n  LIMIT 1\n), actor AS (\n  SELECT id FROM inserted\n  UNION\n  SELECT id FROM matched\n  LIMIT 1\n)\nSELECT CASE\n  WHEN EXISTS (SELECT 1 FROM actor)\n  THEN json_build_object(\n    'ok', true,\n    'message', 'Login successful.',\n    'user', json_build_object(\n      'id', (SELECT id FROM actor LIMIT 1),\n      'username', '{{$json.username_sql}}'\n    )\n  )\n  ELSE json_build_object('ok', false, 'error', 'Invalid PIN for this username.')\nEND AS response;",
        "options": {}
      },
      "id": "f2ff1dc0-7efe-44d5-bb0a-3f27ec36ee8d",
      "name": "PG Login",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        224,
        -112
      ],
      "credentials": {
        "postgres": {
          "id": "eiDo9LSBl0FkL13Y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH actor AS (\n  SELECT id\n  FROM users\n  WHERE username = '{{$json.username_sql}}'\n    AND pin_hash = crypt('{{$json.pin_sql}}', pin_hash)\n  LIMIT 1\n), board_row AS (\n  SELECT b.id, b.board_code, b.name\n  FROM boards b\n  JOIN board_members bm ON bm.board_id = b.id\n  JOIN actor a ON a.id = bm.user_id\n  WHERE b.board_code = '{{$json.board_code_sql}}'\n  LIMIT 1\n), updated AS (\n  UPDATE items i\n  SET\n    market_price = {{$json.market_price}},\n    savings_daily = {{$json.savings_daily}},\n    savings_weekly = {{$json.savings_weekly}},\n    alternatives = '{{$json.alternatives_sql}}'::jsonb,\n    analysis_summary = NULLIF('{{$json.analysis_summary_sql}}', ''),\n    analysis_recommendation = NULLIF('{{$json.analysis_recommendation_sql}}', '')\n  FROM board_row br\n  WHERE i.id = {{$json.item_id}}\n    AND i.board_id = br.id\n  RETURNING i.id\n), items_data AS (\n  SELECT\n    i.id,\n    i.item_name,\n    i.target_price,\n    i.market_price,\n    i.savings_daily,\n    i.savings_weekly,\n    i.start_date,\n    i.end_date,\n    i.alternatives,\n    i.analysis_summary,\n    i.analysis_recommendation,\n    u.username AS added_by,\n    i.created_at\n  FROM items i\n  JOIN board_row br ON br.id = i.board_id\n  JOIN users u ON u.id = i.added_by\n  ORDER BY i.created_at DESC\n)\nSELECT CASE\n  WHEN EXISTS (SELECT 1 FROM updated)\n  THEN json_build_object(\n    'ok', true,\n    'message', 'Item analysis updated.',\n    'board', (SELECT row_to_json(b) FROM board_row b),\n    'items', COALESCE((SELECT json_agg(row_to_json(i)) FROM items_data i), '[]'::json)\n  )\n  ELSE json_build_object('ok', false, 'error', 'Could not update item analysis.')\nEND AS response;",
        "options": {}
      },
      "id": "b661264c-630a-461b-841a-9ed3a9bdc1d6",
      "name": "PG Update Item1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        752,
        656
      ],
      "credentials": {
        "postgres": {
          "id": "eiDo9LSBl0FkL13Y",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "{\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Analyze these search results for the item '{{$json.item_name}}' and the user's target price of {{$json.target_price}} PHP. \\n\\nSearch Results: {{JSON.stringify($json.organic)}}\\n\\nTask:\\n1. Estimate the realistic market price (in PHP) based on the search results.\\n2. Suggest 3 specific alternatives (cheaper options, used market, or previous models).\\n3. Provide a concise summary of the findings.\\n4. Provide a clear recommendation (buy now, wait, or consider alternatives).\\n5. Return ONLY valid JSON in this format: { \\\"market_price\\\": 1234.56, \\\"alternatives\\\": [{ \\\"name\\\": \\\"...\\\", \\\"estimated_price\\\": 123 }], \\\"summary\\\": \\\"...\\\", \\\"recommendation\\\": \\\"...\\\" }\"\n    }]\n  }]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        832
      ],
      "id": "60d4bcf1-e05e-4f47-b0cb-363f6d2ac5f0",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        1088
      ],
      "id": "9e9b289c-dc71-4917-b6cf-a5cd3b2f5090",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "mS6KPJBl1znuvXSR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2fe02211-84bc-4ce8-8be7-3a311b53ce2f",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "add_item",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7438f60e-c661-40c7-87eb-d8be4f3d284c",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "analyze_item",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "f2de6705-1b69-4b2d-86fb-04cc3733cb58",
      "name": "Switch AI Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        688,
        656
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "3df8c441-d73f-4e8f-a3bd-9a7308ad56c0",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "login",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action}}",
                    "rightValue": "create_board",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "eb4dcb61-0ae3-4b15-8da2-a3967eb2577e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "ff72f8b8-4f6a-4cc0-9079-9256b1bb93b5",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "join_board",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "02543dcc-eda7-4a58-9945-a23227d21bfb",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "add_item",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "d23030bb-f1bd-443b-a63f-077f769afd3c",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "get_board",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "7fe08d4c-7acc-4db7-9766-8902775764d2",
                    "leftValue": "={{$json.action}}",
                    "rightValue": "analyze_item",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "6b3fbe4e-3aa0-423b-b6ec-078a78d35453",
      "name": "Switch Action3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -96,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Switch Action3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper Search": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge & Format": {
      "main": [
        [
          {
            "node": "Switch AI Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Create Board": {
      "main": [
        [
          {
            "node": "Format Common",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Join Board": {
      "main": [
        [
          {
            "node": "Format Common",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Add Item": {
      "main": [
        [
          {
            "node": "Format Common",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Get Board": {
      "main": [
        [
          {
            "node": "Format Common",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Common": {
      "main": [
        [
          {
            "node": "Respond Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Login": {
      "main": [
        [
          {
            "node": "Format Common",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Update Item1": {
      "main": [
        [
          {
            "node": "Format Common",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Action3": {
      "main": [
        [
          {
            "node": "PG Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG Create Board",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG Join Board",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Serper Search",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG Get Board",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Serper Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch AI Action": {
      "main": [
        [
          {
            "node": "PG Add Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG Update Item1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "44addede-b8ce-424b-8866-52adcf2e661a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0be12d42b1bb694264c10cc38224dc5d53cdb7c7fc97e5e997036ad218730b4a"
  },
  "id": "wyqFpWJLv9Yh87eN",
  "tags": []
}